@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
	box-sizing: border-box;
}

.text-title h6 {
	opacity: 0.6;
	margin: 0;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.container-card {
    width: 60%;
}

.travels-container {
    align-items: center;
    display: flex;
    width: 100%;
  }

.rounded-image {
    width: 100%;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    justify-content: center;
    align-items: flex-end;
  }

.travel {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    max-width: 100%;
    min-height: 200px;
    margin: 20px;
    overflow: hidden;
    width: 100%;
  }
.travel h6 {
	margin: 0;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.travel h2 {
	letter-spacing: 1px;
	margin: 10px 0;
	opacity: 0.9;
}

.travel-preview {
    background-color: #2a265f;
    color: #fff;
    padding: 30px;
    min-width: 150px;
  }

.travel-host {
    color: #ececec;
    display: inline-block;
    font-size: 14px;
    opacity: 0.6;
    margin-top: 30px;
    text-decoration: none;
  }

.travel-info {
    padding: 30px;
    position: relative;
    width: 100%;
  }

  .progress-container {
    position: absolute;
    top: 20px; /* Ajustar posición vertical */
    right: 20px; /* Ajustar posición horizontal */
    text-align: right;
    width: 20%;
  }
  
  .progress {
    background-color: #6f42c1; /* Color morado */
    border-radius: 10px; /* Ajustar redondez */
    height: 10px; /* Ajustar grosor */
    width: 100%;
  }
  
  .progress::after {
    border-radius: 10px; /* Ajustar redondez */
    background-color: #2a265f; /* Color de progreso */
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 66%; /* Ajustar progreso */
  }
  
  .progress-text {
    font-size: 0.8em;
    opacity: 0.6;
    letter-spacing: 1px;
    margin-top: 10px; /* Ajustar espacio con el texto */
  }

.btn {
    background-color: #2A265F;
    border: 0;
    border-radius: 50px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    color: #fff;
    font-size: 0.8em;
    padding: 1em 2em;
    position: absolute;
    bottom: 1.5vw;
    right: 1.5vw;
    letter-spacing: 1px;
}

.chat-list {
  display: flex;
  flex-direction: column;
}

.chat-item {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 0; /* Elimina el margen inferior */
  vertical-align: top; /* Alinea las cards verticalmente */
}

.chat-item .card-title {
  font-size: 18px; /* Tamaño de fuente más grande */
  font-weight: bold; /* Fuente en negrita */
  color: #333; /* Color de fuente más oscuro */
}

.card {
  border-radius: 0; /* Elimina el radio de las esquinas */
}

.transparent-chat {
  background-color: transparent !important;
}

.selected-chat {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6); /* Efecto de sombra */
}

.card-item {
  cursor: pointer;
}

.chats-header {
  font-size: 22px; /* Tamaño de fuente más grande */
  font-weight: bold; /* Texto en negrita */
  text-align: center; /* Centrar el texto */
  margin-bottom: 20px; /* Espacio debajo del encabezado */
}

.chat-list {
  max-height: 70vh; /* Establece la altura máxima del contenedor del listado de chats */
  overflow-y: auto; /* Habilita el scroll vertical cuando el contenido excede la altura máxima */
}

.last-message-date {
  position: absolute;
  bottom: 6px;
  right: 6px;
  font-size: 12px;
  color: #888;
}








@media screen and (max-width: 800px) {
    .btn {
        font-size: 0.6em;
        padding: 0.8em 1.5em;
        bottom: 1.5vw;
        right: 1.5vw;
    }
    .progress-container {
        top: 2vw;
        right: 2vw;
        width: 17%;
    }

    .progress,
    .progress::after,
    .progress-text {
        font-size: 0.6em;
        height: 0.3vw;
    }
}

/* Añade estilos para las clasificaciones */
.classification-indicator {
  display: inline-flex;
  align-items: center;
  padding: 5px 10px;
  border-radius: 20px;
  margin-left: 10px;
  font-weight: bold;
  transition: transform 0.3s ease;
}

.Muy-cerca {
  background: linear-gradient(135deg, #6bd19d, #4caf50); /* Verde */
  color: white;
}

.Cerca {
  background: linear-gradient(135deg, #6ec3ff, #2196f3); /* Azul */
  color: white;
}

.Medio {
  background: linear-gradient(135deg, #ffe082, #ffc107); /* Amarillo */
  color: #333;
}

.Lejos {
  background: linear-gradient(135deg, #ff8a80, #f44336); /* Rojo */
  color: white;
}

/* Estilos para los iconos de clasificación */
.classification-indicator i {
  font-size: 16px;
  margin-right: 5px;
}

/* Estilos de animación para las clasificaciones */
.classification-indicator:hover {
  transform: scale(1.1);
}

.Muy-cerca:hover {
  background-color: #388e3c; /* Verde más oscuro */
}

.Cerca:hover {
  background-color: #1976d2; /* Azul más oscuro */
}

.Medio:hover {
  background-color: #ffa000; /* Amarillo más oscuro */
}

.Lejos:hover {
  background-color: #c62828; /* Rojo más oscuro */
}
/* Alineación de los indicadores de clasificación */
.destination-info,
.origin-info {
  display: flex;
  align-items: center;
  text-align: left;
}

.destination-info .classification-indicator,
.origin-info .classification-indicator {
  margin-left: auto;
}



/* Alineación del contenido restante a la izquierda */
.travel-info {
  text-align: left;
}

.travel-card {
  position: relative;
}

.best-option-indicator {
  position: absolute;
  top: -10px;
  left: 10px;
  background-color: gold; /* Color dorado */
  color: #fff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  font-weight: bold;
  z-index: 1; /* Asegura que esté por encima del contenido */
  transition: transform 0.3s ease;
}

.best-option-indicator:hover {
  transform: scale(1.2);
}
