/* Estilo para el contenedor principal */
.travel-list-container {
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px auto;
  max-width: 80%; /* Ajusta el ancho según necesites */
}

/* Estilo para el contenedor de las pestañas */
.tabs-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Estilo para los botones de las pestañas */
.tab-button {
  cursor: pointer;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  transition: color 0.3s;
}

.tab-button:hover {
  color: #176b87;
}

.tab-button.active {
  color: #176b87;
}

/* Estilo para la línea vertical separadora */
.separator {
  border-left: 1px solid #000;
  height: 20px;
  margin: 0 10px;
}

/* Estilo para el contenedor del contenido */
.content-container {
  margin-top: 20px;
}

/* Estilo para el contenedor de las tarjetas de viaje */
.travel-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; /* Alinea las cartas al principio */
}

/* Establece un ancho fijo para todas las tarjetas dentro del contenedor */
.travel-cards-container .travel-card {
  width: 75%; /* Ancho fijo para todas las tarjetas */
}

/* Estilos específicos para los viajes en curso */
.travel-card.ongoing {
  background-color: #ffff00; /* Amarillo flojito */
}

/* Estilos específicos para los viajes completados */
.travel-card.completed {
  background-color: #00ff00; /* Verde flojito */
}

/* Estilo para el mensaje cuando no hay viajes */
.no-travels-message,
.passenger-message {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 200px;
}

/* Estilo para el mensaje de texto dentro del contenedor */
.no-travels-message h2,
.passenger-message h2 {
  margin: 0;
}
