/* TravelDetails.css */

.travel-details-container {
  max-width: 1000px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
  display: flex; /* Agrega esta propiedad */
  flex-direction: column; /* Agrega esta propiedad */
}

.travel-details-title {
  font-size: 32px;
  font-weight: bold;
  color: #000000;
  margin-bottom: 20px;
  text-align: center;
}

.travel-details-label {
  font-weight: bold;
  margin-bottom: 5px;
}

.travel-details-form {
  order: 1;
  position: relative; /* Asegura que los elementos del formulario estén en el flujo normal */
  z-index: 1; /* Coloca los elementos del formulario por encima del mapa */
}

.travel-details-form label {
  display: block;
  margin-bottom: 10px;
}

.travel-details-form input[type="number"],
.travel-details-form input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s ease;
}

.travel-details-form input[type="number"]:focus,
.travel-details-form input[type="text"]:focus {
  border-color: #176b87;
}

.travel-details-chat-btn[type="button"],
.travel-details-submit-btn[type="submit"],
.travel-details-request-btn,
.travel-details-edit-btn,
.travel-details-delete-btn {
  display: inline-block;
  width: 10rem;
  padding: 10px;
  background-color: #176b87;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 10px; /* Añadir margen derecho entre botones */
  margin-bottom: 5px; /* Añadir margen inferior para la separación vertical */
}

.travel-details-request-btn{
  width: 35rem;
}

.travel-buttons-container {
  display: flex;
  justify-content: center; /* Centra horizontalmente los botones */
  align-items: center; /* Centra verticalmente los botones */
  margin-top: 20px; /* Añade margen superior entre los botones y el contenido */
}

.travel-buttons-container-map {
  display: flex;
  justify-content: center; /* Centra horizontalmente los botones */
  align-items: center; /* Centra verticalmente los botones */
  margin-top: 10px; /* Añade margen superior entre los botones y el contenido */
}

.travel-details-chat-btn[type="button"]:last-child,
.travel-details-submit-btn[type="submit"]:last-child,
.travel-details-request-btn:last-child,
.travel-details-edit-btn:last-child,
.travel-details-delete-btn:last-child {
  margin-right: 0; /* Eliminar margen derecho del último botón */
}

.travel-details-submit-btn[type="submit"]:hover,
.travel-details-chat-btn[type="button"]:hover,
.travel-details-request-btn:hover,
.travel-details-edit-btn:hover,
.travel-details-delete-btn:hover {
  background-color: #13586f;
}

.loader-container {
  text-align: center;
  margin-top: 20px;
}

.map-container {
  order: 2; /* Agrega esta propiedad */
  width: 100%;
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease;
  margin-top: 15rem;
}

.map-container.open {
  height: 650px; /* Altura fija del mapa cuando está abierto */
}

.map {
  width: calc(100% - 40px); /* Resta 30px para el margen izquierdo y derecho */
  height: 57%;
  border-radius: 5px;
  position: absolute;
  top: 60%; /* Ajusta la posición vertical */
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
}

.map2 {
  width: calc(100% - 40px); /* Resta 30px para el margen izquierdo y derecho */
  height: 57%;
  border-radius: 5px;
  position: absolute;
  margin-top: 10rem;
  top: 60%; /* Ajusta la posición vertical */
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
}

.seat-icon {
  margin-right: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.seat-icon svg {
  opacity: 0.5;
  transition: opacity 0.3s;
}

.seat-icon:hover svg,
.seat-icon.selected svg {
  opacity: 1;
}

.suggestions {
  position: absolute;
  margin-top: -5px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  color: #333;
  top: 100%; /* Position the suggestions container below the search-input */
  left: 0;
  right: 0;
  z-index: 10;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-height: 200px; /* Ajusta según sea necesario */
  overflow-y: auto; /* Agrega una barra de desplazamiento para el eje Y */
  scrollbar-width: thin; /* Ajusta el ancho de la barra de desplazamiento */
  scrollbar-color: #c4c4c4 transparent; /* Ajusta el color de la barra de desplazamiento */
}

/* Estilos para cada sugerencia individual */
.suggestion {
  padding: 8px 12px;
  border: 1px solid #ddd;
  border-top: none;
  background-color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Estilos cuando se pasa el cursor sobre una sugerencia */
.suggestion:hover {
  background-color: #f5f5f5;
}

/* Estilos para la primera sugerencia */
.suggestion:first-child {
  border-top: 1px solid #ddd;
}

.update-map-button {
  display: block;
  position: relative;
  margin-top: -5px;
  right: -10px;
  padding: 5px 10px; /* Ajusta según sea necesario */
  background-color: #176b87;
  color: #fff;
  border: none;
  border-radius: 0px;
  cursor: pointer;
  font-size: 14px; /* Ajusta según sea necesario */
  transition: background-color 0.3s ease;
}

.update-map-button:hover {
  background-color: #12566c;
}

.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fff;
  padding: 30px; /* Reducido el padding */
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  max-width: 400px; /* Reducido el max-width */
  width: 100%;
  position: absolute;
  animation: zoomIn 1s;
  align-items: center;
}

.modal-content button {
  margin-top: 10px; /* Ajustar el espacio entre los botones */
}

.path-container {
  display: flex;
  align-items: center;
}

.origin-container,
.destination-container {
  flex: 2;
  margin: 20px;
}

.dots-arrow-container {
  flex: auto;
}

.origin {
  font-size: 20px;
}
.destination {
  font-size: 20px;
}

.path {
  display: flex;
  align-items: center;
  flex-grow: 1;
  position: relative;
}

.dots-arrow {
  display: flex;
  align-items: center;
  position: relative;
  flex-grow: 1;
  height: 20px; /* Ajusta la altura según el tamaño de los puntos */
}

.dots-arrow::before {
  content: "";
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(circle, #176b87 30%, transparent 0%);
  background-size: 30px 30px; /* Reducir el tamaño de los puntos */
  background-repeat: repeat-x;
  background-position: center; /* Centra los puntos verticalmente */
}

.dots-arrow::after {
  content: "";
  width: 0;
  height: 0;
  border-top: 10px solid transparent; /* Reducir el tamaño de la flecha */
  border-bottom: 8px solid transparent; /* Reducir el tamaño de la flecha */
  border-left: 12px solid #176b87; /* Reducir el tamaño de la flecha */
  margin-left: 20px; /* Ajusta la separación de la flecha */
  margin-right: 20px;
  border-radius: 10px; /* Hacer la flecha un poco redondeada */
}

.buttons-container {
  display: flex;
  justify-content: flex-end; /* Coloca los elementos al final del contenedor */
  align-items: center; /* Centra verticalmente los elementos */
  position: relative;
  z-index: 999; /* Coloca el contenedor por encima del mapa */
}

.buttons-container > button {
  margin-left: 0.5rem; /* Añade un margen entre los botones */
}

.info-column {
  flex: 1; /* Las columnas se expanden para llenar el espacio disponible */
  display: flex;
  flex-direction: column; /* Asegura que los elementos se apilen verticalmente */
}

.info-column:first-child {
  margin-left: 20px; /* Ajusta el valor del margen según sea necesario */
}

.info-item {
  margin-bottom: 10px; /* Espacio entre los elementos */
}

.info-item p::before {
  content: "•"; /* Punto */
  margin-right: 5px; /* Espacio entre el punto y el texto */
}

@media (max-width: 768px) {
  .info-item {
    width: 100%; /* En dispositivos más pequeños, cada elemento ocupa el 100% del contenedor */
  }
}

.status-cylinder {
  border-radius: 50px; /* Para hacer un cilindro */
  position: relative; /* Para permitir el posicionamiento del texto */
  display: flex; /* Para centrar verticalmente el texto */
  justify-content: center; /* Para centrar horizontalmente el texto */
  align-items: center; /* Para centrar verticalmente el texto */
  padding: 10px 20px; /* Agrega espacio alrededor del texto */
  margin: 5px; /* Agrega un poco de margen externo */
  text-transform: uppercase;
  font-weight: bold;
}

.status-programado {
  background-color: rgb(255, 255, 156); /* Color amarillo */
}

.status-en_curso {
  background-color: rgb(144, 238, 144); /* Color verde */
}

.status-completado {
  background-color: rgb(255, 99, 71); /* Color rojo */
}
